@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.title-plate {
    color:black;
    font-weight: bold;
    text-transform: uppercase;
}

.list-plate-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px 16px 16px 16px;
    width: 50%;
}

.list-plate-description span {
    font-weight: bold;
    font-size: 1.2em;
}

.image-rest {
    width: 150px;
}

.rest-details-wrap {
    display: flex;
    flex-direction: column;
}

.rest-details-name {
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 20px;
}

.react-datepicker__day--selected {
    background-color: #1E6C5B;
}

.mercadopago-button {
    background-color: #1E6C5B !important;
    width: 100%;
}

.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -15px;
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 15px;
    background-clip: padding-box;
}

.my-masonry-grid_column > img {
    background: grey;
    margin-bottom: 15px;
}
